<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>WebCampBackendNew</title>
	<link rel="stylesheet" href="app/assets/stylesheets/show.css">
</head>

<body>

	<p id="notice">
 		<%=  notice %> <!-- サクセスメッセージの表示 -->
	</p>

	<p>Title:<%= @book.title %></p>

	<p>Body:<%= @book.body %></p>

	<%= link_to 'Edit', edit_book_path(@book.id) %>
	<%= link_to 'Back', '/books' %>

</body>

</html>